/* Darrell */
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

:root {
    --dcolor: linear-gradient(#18a051,#18a051);
    --dcolor2: #FFF;
    --dcolor3: black;
    --dfont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1600px) {
    .dinput {
        padding-right: 30% !important;
        padding-left: 2% !important;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 1300px) {
    .dinput {
        padding-right: 25% !important;
        padding-left: 1% !important;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        font-size: 1.25rem !important;
    }
    .dnav-right img {
        width: 65px !important;
        padding-left: 5% !important;
    }
    nav ul li a {
    padding: 3%;
    margin-right: 2rem !important;
    }
}

@media screen and (max-width: 1000px) {
    .dnav {
        flex-direction: column !important;
    }
    .dnav-left {
        background-image: none !important;
    }
    .dnav-left img {
        width: 100px !important;
    }

    .dnav-middle {
        flex-direction: column !important; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dnav-middle h2 {
        font-size: 2rem !important;
        padding-bottom: 20% !important;
        text-align: center !important;
    }
    .dinput {
        padding-right: 20% !important;
        padding-left: 1% !important;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        font-size: 1rem !important;
    }
    .dnav-right {
        flex-direction: column !important; 
    }
    .navlist {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        padding-bottom: 5% !important;
        padding-left: 0px !important;
    }
    .navlist a h3 {
        display: none;
    }
    .navlist li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dnav-right img {
        width: 50px !important;
        padding: 1rem !important;
    }
    nav ul li a {
        padding: 0% !important;
    }
    .drecipes h1 {
        font-size: 5rem !important;
    }
    .drecipes blockquote {
        font-size: 1.5rem !important;
    }
    .britrecipes {
        font-size: 3.5rem !important;
    }
    .darcontainer2 h3 {
        opacity: 1 !important; 
        background-color: rgba(0, 0, 0, 0.5);
    }
    .darconeb,.darconfac,.darconsr,.darconbam,.darconstp {
    width: 15rem !important;
    height: 15rem !important;
    margin: 5% 0px !important;
    }
}
.dnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* width: 100%; */
    background-image: var(--dcolor);
    -webkit-box-shadow: 0px -2px 36px 11px #000000; 
    box-shadow: 0px -2px 36px 11px #000000;
}

.dnav-left {
    display: flex;
    align-items: center;
    padding: 2.5rem;
    color: var(--dcolor2);
    padding-bottom: 2%;
    margin-left: 1%;
    /* background-image: var(--dcolor); */
    transition: all 0.50s ease-in-out;
}

.dnav-left img {
    width: 200px;
    filter:invert();
}

.dnav-left:hover {
transform: translateY(30%);
border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
border-top-left-radius: 100px;
-webkit-box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47); 
box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47);
background-image: var(--dcolor);
}

.dnav-middle h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    text-decoration: none;
    color:var(--dcolor2);
    padding: 0px;
    margin: 0px;
    text-shadow: 5px 5px var(--dcolor3);
    text-align: left;
    padding-bottom: 3%;
}

.dnav-middle a {
    text-decoration: none;
}

.dinput {
    padding-right: 70%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.dinput:focus {
    transform: translateY(30%);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    -webkit-box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47); 
    box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47);
}

.dnav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navlist li {
    text-decoration: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--dcolor2);
    font-weight: 1000;
    border-radius: 10px;
    padding: 5%;
    margin-right: 6rem;
}

.dhome {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    padding: 3rem 1rem;
}

.dhome img {
    width: 75px;
    filter:invert();
}

.dhome:hover {
    transform: translateY(30%);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    -webkit-box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47); 
    box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47);
    background-image: var(--dcolor);
}

.dhome a {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: flex-end;
}

.navlist h3 {
    color:var(--dcolor2);
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0%;
    padding: 0px;
    text-align: left;
    margin: 0px;
    transition: all 0.5s ease-in;
}

.navlist li:hover h3 {
transform: translateY(70%);
opacity: 100%;
text-shadow: 5px 5px var(--dcolor3);
}

.dabout img {
    width: 100px;
    filter: brightness(7);
}

.dabout {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in;
    padding: 2.5rem 1rem;
}

.dabout:hover {
    transform: translateY(30%);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    -webkit-box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47); 
    box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47);
    background-image: var(--dcolor);
}

.dcontact {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in;
    padding: 4rem 1rem;
}

.dcontact:hover {
    transform: translateY(30%);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    -webkit-box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47); 
    box-shadow: 0px 50px 50px -9px rgba(0,0,0,0.47);
    background-image: var(--dcolor);
}

.dcontact img {
    width: 75px;
    filter:invert();
}
/* end of navbar */
.drecipes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(dtable.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 10px;
}

.drecipes h1 {
    font-size: 10rem;
    font-family: var(--dfont);
    margin-top: 10%;
    color: #FFF;
    text-shadow: 10px 10px var(--dcolor3);
    background-color: rgba(0, 0, 0, 0.30);
    width: 100%;
    text-align: center;
}

.drecipes blockquote {
    font-size: 3rem;
    width: 50%;
    padding: 0px 5%;
    margin-top: 0px;
    background-color: grey;
    color: #FFF;
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
}

.darcontainer {
    display: grid;
    background-image: url(english-countryside.jpeg); */
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center;
    background-size: cover; */
}

.britrecipes {
    font-size: 5rem;
    text-decoration: underline;
    font-family: var(--dfont);
    padding: 0px;
    color: black;
    display: flex;
    /* text-shadow: 5px 5px #FFF; */
    margin-left: 15%;
}

.dingredcontainer {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.dingrediant {
    color: black;
    border-style: solid;
    font-family: var(--dfont);
    border-width: 10px;
    padding: 2%;
    margin: 5%;
    background-color: #FFF;
    border-color: rgb(61, 29, 6);
}

.dingrediant h3 {
    text-decoration: underline;
    font-size: 3rem;
    padding-top: 0%;
    margin-top: 0%;
}

.dingrediant li {
    font-size: 1.5rem;
    padding-top: 3%;
    list-style: none;
}

.dingredcontainer img {
    height: 500px;
    width: 600px;
    border-style: solid;
    border-width: 10px;
    padding: 2%;
    margin: 5%;
    background-color: #FFF;
    border-color: rgb(61, 29, 6);
}

.dmethod li {
    font-size: 1.5rem;
    padding-top: 3%;
}

.dmethod h3 {
    text-decoration: underline;
    font-size: 3rem;
    padding-top: 0%;
    margin-top: 0%;
}

.dmethod {
    color: black;
    border-style: solid;
    font-family: var(--dfont);
    border-width: 10px;
    padding: 2%;
    margin: 5%;
    background-color: #FFF;
    border-color: rgb(61, 29, 6);
}

.dshare {
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 5%;
    font-weight: 1000;
}

.dshare:hover {
    cursor: pointer;
    background-color: rgb(61, 29, 6);
    color: #FFF;
}